<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="bus_container">

  
  <div class="bus_wrapper">
    <form class="bus_form" action="/bus_agent_registration"  method="POST">

    <h2>Bus Agent Registrations</h2>
    <input type="text" name="v_name" class="input" placeholder="Vechicle name"  required>
    <input type="text" name="v_number" class="input" placeholder="Vechicle no"  required>
    <input type="text" name="v_driver_name" class="input" placeholder="Full name"  required>
    <input type="number" name="dr_mob_no" class="input" placeholder="Mobile-no"  required>
    <input type="number" name="alt_mob_no" class="input" placeholder="Alternate -no"  required>
    <input type="text" name="from" class="input" placeholder="From"  required>
    <input type="text" name="to" class="input" placeholder="To"  required>
    <input type="time" name="departure_time" class="input" placeholder="departure_time"  required>
    <input type="time" name="Arrival_time" class="input" placeholder="Arrival_time"  required>
    <input type="number" name="Duration" class="input" placeholder="Duration"  required>
    <input type="float" name="Rating" class="input" placeholder="Rating"  required>
    <input type="number" name="Amount" class="input" placeholder="Amount"  required>
    <button type="submit" class="btn">Submit</button>
    
  </form>
  </div>


</div>
</body>
</html>