<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
</head>
<body>
  <div class="footer">
    <div class="footer_container">

    
    <div class="logo" id="footer_content">
      <h2>Logo</h2>
      <p>Loribus cupiditate.
      Perspiciatis iure sit, deleniti, dolorum voluptate dolor ducimus quas possimus labore, magni porro consectetur quasi iste! Voluptatem, iusto sint, possimus dignissimos obcaecati consectetur, tempora sunt id earum blanditiis excepturi accusamus!</p>
    </div>

    <div class="about_bus"  id="footer_content">
      <h2>About Bus</h2>
      <ul>
        <li><a href="#"> About us</a></li>
        <li><a href="#"> Offers</a></li>
        <li><a href="#"> coupons</a></li>
        <li><a href="#"> My Profile</a></li>
        
      </ul>
    </div>

    <div class="usefull_links"  id="footer_content">
      <h2>Usefull Links</h2>
      <ul>
        <li><a href="#"> Bus booking</a></li>
        <li><a href="#"> Taxi booking</a></li>
        <li><a href="#"> Bus booking</a></li>
      </ul>
    </div>

    <div class="info"  id="footer_content">
      <h2>Info</h2>
      <ul>
        <li><a href="/bus_agent_registration"> Agent Registration</a></li>
        <li><a href="#"> Terms & Conditions</a></li>
        <li><a href="#"> Privacy Policy</a></li>
        <li><a href="#"> FAQ</a></li>
        
      </ul>
    </div>

    <div class="contact_us"  id="footer_content">
      <h2>contact us</h2>
      <ul>
        <li><a href="#"> +91 9353198519</a></li>
        <li> <a><i class="fa-brands fa-square-whatsapp"> </i> Whatsapp</a></li>
        <li><a href="#"><i class="fa-brands fa-square-twitter"> </i> Twitter</a></li>
        <li><a href="#"> <i class="fa-brands fa-square-instagram"> </i> Instagram</a></li>
      </ul>
    </div>

  </div>
  <hr />
  <div class="copyright">

    &copy; 2024 RedBus india pvt Ltd.All rights are reserved

  </div>

  </div>
</body>
</html>