<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form class="forgot_form" action="/forgot" method="POST">
    <h3>CREATE NEW PASSWORD</h3>
   <br>
   <label for="name">NAME :</label>
      <input type="text" id="name" class="name" name="name" required><br>

      <label for="password">PASSWORD :</label>
      <input type="text" id="password" class="password" name="password" required><br>
      <br>
      <button  class="login_submit" type="submit" id="f_btn">SUBMIT</button>

  </form>
</body>
</html>