<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form class="login-form" action="/login" method="POST">
  <div class="login_wrapper">
    <div class="design">

       
      <div id="scroll-container">
        <div id="scroll-text"> <h1>Bharat Travels  enjoy our travels with safe and secure.make it possible with us.</h1><div>
      </div>
   

    </div>
   

    <div class="login_box">
      <i class="fa-solid fa-xmark"></i>
      <h2>Login</h2>
      <label for="name">USERNAME :</label>
      <input type="text" id="name" class="name" name="name" required><br>
      <label for="name">PASSWORD :</label>
      <input type="password" id="password" class="password" name="password" required><br>
      <div class="subdivs">
        <a href="/register">Don,t have account?</a>
        <a href="/forgot">Forgot password.</a>
      </div><br><br><br>
      <form action="/login" method="POST">
      <button  class="login_submit" type="submit">SUBMIT</button>
    </form>
    </div>

  </div>
   
</form>
</body>
</html>