<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--- this is a navbar-->

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
  
  
        <div class="img" id="box">   
              <h2>Logo</h2>
        </div>
  
  
        <div class="bus_tickets" id="box">
          <p> <a href=" /busbook">Bus Tickets</a></p>
        </div>
  
        <div class="help" id="box">
          <i class="fa-solid fa-phone"></i>
          <p>Contact</p>
        </div>
  
        
    <!---   <div class="lang" id="box">
    
          <label for="lang"></label>
  
          <select name="lang" id="lang">
            <option value="english">English</option>
            <option value="kannada">Kannada</option>
            <option value="hindi">Hindi</option>
            
          </select>
    
        </div>  ---> 
        <div class="accounts" id="box">
          <i class="fa-solid fa-user"></i>
           <button class="acc-btn">Accounts</button>
           <div class="accounts-content">
            <li> <a href="#"> Profile</a></li>
            <li> <a href="#"> Cancel Ticket</a></li>
            <li> <a href="#"> My Ticket</a></li>
            <li> <a href="#"> Change Date</a></li>
           </div>
        </div>
  
        
  
        <div class="register" id="box">
          <a href="#">Register</a>
        </div>
  
        <div class="logout" id="box">
          <a href="#">Log out</a>
        </div>
        <div class="Admin" id="box">
          <button> <a href="/login">Admin</a></button>
        </div>
        <div class="bus_tickets" id="box">
           <p> <a href="/parcel"> Parcel</a></p>
        </div>
        
      </div>
    </nav>
</body>
</html>