<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/payment" method="POST">
  <h2>shop</h2>
  <p>price:500</p>
  <button type="submit">pay</button>
</form>
</body>
</html>